export(HMR)

importFrom(utils, write.table)
importFrom(graphics, par, plot, points, lines, text, legend, polygon, mtext, locator, frame)
importFrom(stats, lsfit, optimize, pt, qt)
importFrom(grDevices, jpeg, postscript, dev.off)
